/* Responses */

* {
	box-sizing: border-box;
}

body {
	background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}



/* Typography */

h1 {
font-family: pkff-n4, adobe-notdef;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-shadow: 3px 2px #716dff;
    text-transform: uppercase;
	margin: 0 0 1em 0;
	font-size: 4em;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 1em 0;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 1em 0;
}

p {
	font-family: parisine-office-std, sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 0 0 1em 0;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.4;
	max-width: 36em;
	border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #716dff;
  color: #68ff97;
}
a {
	font-size: 20em
	color: #ffffff;
	text-decoration: none;
	transition: all 0.3s;
}

a:hover {
	color: yellow;
	text-decoration: none;
}

.button {
	border: 5px solid pink;
	border-radius: 2em;
	padding: 0.25em 1em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 0 1em 0;
}

.button:hover {
	background-color: #9dfbf7;
	color: black;
}


/* page specific */



/* Grid */

.grid {
	display: grid;
	grid-template-columns: 100%;
	align-content: center;
	min-height: 100vh;
}

.items {
	padding: 0.5em;
}

@media (min-width: 40em) {
	.grid {
		grid-template-columns: 50% 50%;
	}
}





nav {
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: 70em;
	height: 3em;
	align-items: center;
	position: absolute;
	right: 0;

}



nav a {
	color: black;
	text-transform: uppercase;
	font-weight: bold

}

nav a:hover, .active {
	color: white;
} 

.active {
	color: pink;
}



/* Navigation */


main {
	margin-top: 3em;
}



 header {
 	position: fixed;
 	top: 0;
 	left: 0;
 	background-color: #4ea552;
 	width: 100%;
 	height: 4em;
 }