/* Interview */

* {
	box-sizing: border-box;
}




h1 { 
	
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 3px 2px yellow;
    text-transform: uppercase;

}


h2 {
	color: #2196f3;
	text-align: center;
	text-decoration: underline;
	padding-top: 4em;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;


}


body {
	background-image: url(https://images.unsplash.com/photo-1460602594182-8568137446ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80);
	background-repeat: no-repeat;
  	background-attachment: fixed;  
  	background-size: cover;
	

	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;

}

p {
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.4;
	max-width: 36em;
	border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px grey;
  color: white;

}

