/* Type */

body {
	background-color: #ced5ff;
	color: black;
	line-height: 1.3;
    font-size: 1em;
    font-family: 'Krona One', sans-serif;
}

p {
	-webkit-text-emphasis-style: sesame;
	display: block;
    max-width: 17em;
    margin-left: 14em;
    margin-block-start: -26em;
    margin-block-end: 6em


}

.new-color {
	color: purple;
}
.other-font {
	font-family: 'Nanum Myeongjo', serif;
}

.new-color {
	font-weight: 1000
}

h1 {
    font-size: 10em;
    position: absolute;
    margin: 0;
    bottom: 0; 
    filter: drop-shadow(5px 8px 6px red);
}
 
	.angled-text {
    transform: skewY(10deg);
    filter: blur(2px);
    font-size: 2em;
    text-decoration: underline;
    }

    .text {
    position: absolute;
    transform: rotateX(180deg);
    filter: contrast(1);
    right: 30px
    }