/* Images */

* {
	box-sizing: border-box;
}

body {
	background-color: #515d53;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
}

img {
	max-width: 100%;
	width: -webkit-fill-available;
}

.grid {
	display: flex;
	flex-wrap: wrap;

}

.item {
	width: 38%;
	padding: 0.25em;
}


h1 { 
	margin-right: auto; 
	position: absolute;
    right: 1em;
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;

}

h2 {
	font-size: 2em;
	font-family: 'Merriweather', serif;
	color: #1b1b1b;
	font-family: 'Carter One', cursive;
}

p {
	font-size: 1.5em;
	font-family: 
	color: #bdbdbd;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-family: 'Permanent Marker', cursive;
}